<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Mar 13 21:16:44 2013 -->
<TABLE border=1>
<TR> <TH>  </TH> <TH> x </TH> <TH> y </TH>  </TR>
  <TR> <TD align="right"> 1 </TD> <TD align="right">   1 </TD> <TD> a </TD> </TR>
  <TR> <TD align="right"> 2 </TD> <TD align="right">   2 </TD> <TD> b </TD> </TR>
  <TR> <TD align="right"> 3 </TD> <TD align="right">   3 </TD> <TD> c </TD> </TR>
   </TABLE>
